@font-face {
  src: url('../fonts/Lato-Medium.woff');
  font-family: "Lato";
  font-weight: 400;
}

@font-face {
  src: url('../fonts/Lato-Thin.woff');
  font-family: "Lato";
  font-weight: 300;
}

@font-face {
  src: url('../fonts/Lato-Semibold.woff');
  font-family: "Lato";
  font-weight: 500;
}

@font-face {
  src: url('../fonts/Lato-Bold.woff');
  font-family: "Lato";
  font-weight: 700;
}

@font-face {
  src: url('../fonts/Lato-Heavy.woff');
  font-family: "Lato";
  font-weight: 800;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.iv-top {
  display: block;
  padding: 10px 0;
  background-color: #ffffff;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  p {
    display: inline-block;
    margin: 0;
    color: #4e4e4e;
    font-size: 14px;
    font-weight: 400;
  }
  &__email {
    display: inline-block;
    color: #4e4e4e;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__phone {
    display: inline-flex;
    align-items: center;
    img {
      display: inline-block;
      margin-right: 6px;
      color: #4f4f4f;
      font-size: 16px;
      font-weight: 400;
    }
    span {
      font-weight: 800;
    }
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__call {
    display: inline-block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    color: #4e4e4e;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      text-decoration: none;
    }
  }
}

.iv-header {
  display: block;
  padding: 20px;
  background-color: #3e3f48;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__modile {
    display: inline-block;
  }
  &__droper {
    display: none;
    margin-left: 6px;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    &-droper {
      position: relative;
      &:hover {
        .iv-header__nav-drop {
          display: block !important;
        }
      }
    }
    &-drop {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      width: 200px;
      margin: 0;
      padding: 12px 0;
      list-style: none;
      background: rgba(0, 0, 0, 0.85);
      z-index: 99;
      li {
        display: block !important;
        a {
          display: block !important;
          padding: 12px 24px !important;
          text-align: right;
        }
      }
    }
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 4px 8px;
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          text-decoration: none;
        }
      }
    }
  }
}

.iv-welcome {
  display: block;
  .slick-prev {
    top: auto;
    bottom: 0;
    right: 72px;
    left: auto;
    width: 72px;
    height: 47px;
    background: url('../images/icon_prev.png') no-repeat center;
    background-size: contain;
    z-index: 1;
    transform: none;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
  }
  .slick-next {
    top: auto;
    bottom: 0;
    right: 0;
    width: 72px;
    height: 47px;
    background: url('../images/icon_next.png') no-repeat center;
    background-size: contain;
    z-index: 1;
    transform: none;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
  }
  &__card {
    display: block;
    padding: 120px 0;
    height: 525px;
    background-size: cover;
    background-position: center;
  }
  &__block {
    display: block;
    width: 100%;
    max-width: 780px;
    padding: 54px;
    background-color: rgba(62, 63, 72, 0.85);
    color: #ffffff;
  }
  &__title {
    display: block;
    margin-bottom: 14px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.25;
  }
  &__button {
    display: inline-block;
    padding: 16px 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.iv-features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 4px;
  &__card {
    display: inline-block;
    width: 33.333333%;
    height: 180px;
    outline: 4px solid #ffffff;
    overflow-y: hidden;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &-container {
      display: block;
      width: 100%;
      height: 100%;
      padding: 42px 64px 12px 64px;
      background: rgba(0, 0, 0, 0.6);
      transition: all 0.3s ease-out;
    }
    &:hover,
    &:active,
    &:focus {
      background-size: 120%;
      outline: 8px solid #3fa6f0;
      color: #ffffff;
      text-decoration: none;
      .iv-features__card-container {
        background: transparent;
      }
    }
    &-title {
      display: block;
      margin-bottom: 8px;
      color: #ffffff;
      font-size: 18px;
      font-weight: 800;
      line-height: 1.30;
      &_left {
        text-align: left;
      }
      &_right {
        text-align: right;
      }
      &_center {
        text-align: center;
      }
    }
    p {
      display: block;
      margin: 0;
      opacity: 0.67;
      color: #fefefe;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.iv-what {
  display: block;
  padding: 80px 0 60px 0;
  &__title {
    display: block;
    margin-bottom: 28px;
    color: #4d4d4d;
    font-size: 36px;
    font-weight: 400;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 260px;
    height: 210px;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-size: 120%;
      color: #ffffff;
      text-decoration: none;
    }
    &:before {
      display: block;
      position: absolute;
      content: '';
      left: 0;
      top: 45px;
      width: 47px;
      height: 13px;
      background: url('../images/icon_before.png') no-repeat center;
      background-size: contain;
    }
    &-title {
      display: block;
      height: 100%;
      padding: 90px 20px 20px 40px;
      background: rgba(0, 0, 0, 0.5);
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
    }
  }
}

.iv-reviews {
  display: block;
  padding: 75px 0 0 0;
  &__title {
    display: block;
    margin-bottom: 30px;
    color: #4d4d4d;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
  }
  &__cards {
    display: block;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    .slick-prev {
      width: 31px;
      height: 12px;
      top: 30%;
      left: -80px;
      background: url('../images/icon_prev_2.png') no-repeat center;
      background-size: contain;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
      z-index: 10;
    }
    .slick-next {
      width: 31px;
      height: 12px;
      top: 30%;
      right: -80px;
      background: url('../images/icon_next_2.png') no-repeat center;
      background-size: contain;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
      z-index: 10;
    }
  }
  &__card {
    display: block;
    text-align: center;
    p {
      display: block;
      margin-bottom: 18px;
      color: #060606;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      text-align: center;
    }
    &__author {
      display: block;
      color: #4d4d4d;
      font-size: 18px;
      font-weight: 800;
      text-align: center;
    }
  }
}

.iv-seo {
  display: block;
  padding: 80px 0 60px 0;
  background-color: #f6f6f6;
  &__title {
    display: block;
    margin-bottom: 28px;
    color: #4d4d4d;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
  }
  p {
    display: block;
    margin-bottom: 24px;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    font-weight: 300;
  }
  img {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin-bottom: 4px;
  color: #4d4d4d;
  line-height: 1.5;
  font-weight: 800;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

.iv-bottom {
  display: block;
  position: relative;
  &__block {
    display: block;
    width: 100%;
    max-width: 640px;
    min-height: 530px;
    padding: 110px 20px 110px 200px;
    background-color: rgba(62, 63, 72, 0.75);
    z-index: 10;
  }
  &__map {
    display: block;
    position: absolute;
    width: 100%;
    height: 530px;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
  }
  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #ffffff;
    img {
      display: inline-block;
      margin-right: 12px;
    }
    p {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
  &__social {
    display: block;
    margin: 0 0 25px 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        margin-right: 6px;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  &__email {
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__phone {
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    padding: 16px 33px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.iv-footer {
  display: block;
  padding: 26px 0 30px 0;
  background-color: #3e3f48;
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 4px 8px;
        color: #959595;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          color: #959595;
          text-decoration: none;
        }
      }
    }
  }
  &__wow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 630px;
    margin: 10px auto 0 auto;
    color: #959595;
    font-size: 16px;
    font-weight: 400;
    a {
      display: inline-block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      color: #959595;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        color: #959595;
        text-decoration: none;
      }
    }
  }
}

.iv-companies {
  display: block;
  padding: 80px 0;
  &__cards {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    overflow-x: hidden;
  }
  &__card {
    display: inline-block;
    width: 150px;
    height: 95px;
    border: 1px solid #f4f4f4;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% auto;
  }
}

.iv-view {
  display: block;
  padding: 80px 0 75px 0;
  background-position: center;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 20px;
    color: #fffefe;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    &_fixed {
      display: none;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 12px 15px;
      background: rgba(0, 0, 0, 0.8);
      color: #ffffff;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 26px;
      text-align: center;
      z-index: 99;
      transition: all 0.15s ease-out;
    }
  }
  &__breadcrumps {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0.5;
    color: #fffefe;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    li {
      display: inline-block;
      span {
        display: inline-block;
        margin: 0 10px;
      }
      a {
        display: inline-block;
        color: #fffefe;
        font-size: 12px;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.6;
          color: #fffefe;
          text-decoration: none;
        }
      }
    }
  }
}

.iv-page {
  display: block;
  padding: 100px 0;
  background-color: #f4f4f4;
}

.iv-decision {
  display: block;
  padding: 60px 0;
  color: #000000;
  font-size: 16px;
  &__card {
    width: 100%;
    height: 500px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__title {
    display: block;
    margin-bottom: 42px;
    color: #4d4d4d;
    font-size: 36px;
    font-weight: 800;
  }
  &__sub-title {
    display: block;
    margin-bottom: 4px;
    color: #000000;
    font-size: 24px;
    font-weight: 300;
  }
  &__slides {
    display: block;
    margin-bottom: 60px;
    .slick-prev {
      top: auto;
      bottom: 0;
      right: 72px;
      left: auto;
      width: 72px;
      height: 47px;
      background: url('../images/icon_prev.png') no-repeat center;
      background-size: contain;
      z-index: 1;
      transform: none;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
    }
    .slick-next {
      top: auto;
      bottom: 0;
      right: 0;
      width: 72px;
      height: 47px;
      background: url('../images/icon_next.png') no-repeat center;
      background-size: contain;
      z-index: 1;
      transform: none;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
    }
  }
  p {
    display: block;
    max-width: 870px;
    margin-bottom: 30px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  ul {
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      margin-bottom: 8px;
      padding-left: 12px;
      background: url('../images/icon_ul.png') no-repeat left center;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.iv-form {
  display: block;
  width: 100%;
  max-width: 875px;
  &__title {
    display: block;
    margin-bottom: 30px;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
  }
  p {
    display: block;
    margin-bottom: 20px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  input {
    display: inline-block;
    flex: 1;
    max-width: 285px;
    margin-right: 4px;
    padding: 15px 30px;
    border: none;
    outline: none;
    border: 1px solid rgba(138, 138, 138, 0.23);
    background: transparent;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:focus {
      border-color: #3fa6f0;
      text-decoration: none;
    }
  }
  button {
    display: inline-block;
    flex: 1;
    max-width: 285px;
    padding: 14px;
    background-color: #3fa6f0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
   ::-webkit-input-placeholder {
    color: #000000;
  }
   ::-moz-placeholder {
    color: #000000;
  }
  /* Firefox 19+ */
   :-moz-placeholder {
    color: #000000;
  }
  /* Firefox 18- */
   :-ms-input-placeholder {
    color: #000000;
  }
}

.iv-aside {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: all 0.15s ease-out;
  &_fixed {
    position: fixed;
    width: 100%;
    top: 0;
    max-width: 255px;
    transition: all 0.15s ease-out;
  }
  &_active {
    background: #3fa6f0 !important;
  }
  li {
    display: block;
    a {
      display: flex;
      align-items: center;
      min-height: 65px;
      padding: 2px 2px 2px 20px;
      border-bottom: 1px solid #52535d;
      background-color: #3e3f48;
      color: #ffffff;
      font-size: 13px;
      font-weight: 400;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        background-color: #3fa6f0;
        text-decoration: none;
      }
    }
  }
}

.iv-categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  &__card {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 260px;
    min-height: 60px;
    margin-bottom: 25px;
    padding: 4px 20px;
    box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    color: #3e3f48;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
      color: #3e3f48;
      text-decoration: none;
    }
  }
}

.iv-papers {
  display: block;
  position: relative;
  &__title {
    display: block;
    margin-bottom: 55px;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
  }
  &__cards {
    display: block;
    .slick-prev {
      top: 0;
      bottom: auto;
      right: 72px;
      left: auto;
      width: 72px;
      height: 47px;
      margin-top: -95px;
      background: url('../images/icon_prev.png') no-repeat center;
      background-size: contain;
      z-index: 1;
      transform: none;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
    }
    .slick-next {
      top: 0;
      bottom: auto;
      right: 0;
      width: 72px;
      height: 47px;
      margin-top: -95px;
      background: url('../images/icon_next.png') no-repeat center;
      background-size: contain;
      z-index: 1;
      transform: none;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
    }
  }
  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 135px;
    height: 190px;
    margin: 0 15px;
    background-size: contain;
    background-position: center;
    background-color: #ffffff;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      a {
        opacity: 1;
      }
      text-decoration: none;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
      text-decoration: none;
      transition: all 0.15s ease-out;
    }
  }
}

.iv-about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 560px;
  padding: 0;
  overflow-y: auto;
  &__content {
    display: block;
    padding: 54px 20px 45px 20px;
  }
  &__title {
    display: block;
    margin-bottom: 28px;
    color: #4d4d4d;
    font-size: 36px;
    font-weight: 800;
  }
  &__button {
    display: inline-block;
    padding: 14px 30px;
    border: 1px solid #3fa9f5;
    background: transparent;
    color: #3fa9f5;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #3fa9f5;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__download {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #3fa9f5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  p {
    display: block;
    margin-bottom: 25px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  ul {
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      margin-bottom: 16px;
      padding-left: 30px;
      background: url('../images/icon_li.png') no-repeat left center;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

.iv-flex-bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.iv-about__slick {
  display: block;
  position: absolute;
  left: -165px;
  top: 165px;
  width: 560px;
  margin-bottom: 0;
  margin-left: 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  transform: rotate(90deg);
  .iv-papers__card {
    margin: 0 70px;
    transform: rotate(270deg);
  }
  .slick-prev {
    top: 42%;
    bottom: auto;
    right: auto;
    left: 10px;
    width: 17px;
    height: 32px;
    background: url('../images/icon_prev_3.png') no-repeat center;
    background-size: contain;
    z-index: 1;
    transform: none;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
  }
  .slick-next {
    top: 42%;
    bottom: auto;
    right: 10px;
    left: auto;
    width: 17px;
    height: 32px;
    background: url('../images/icon_next_3.png') no-repeat center;
    background-size: contain;
    z-index: 1;
    transform: none;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
  }
}

.h-p-0 {
  padding: 0;
}

.iv-projects {
  display: block;
  background-color: #f6f6f6;
  .slick-prev {
    top: auto;
    bottom: 0;
    right: auto;
    left: 0;
    width: 72px;
    height: 47px;
    margin-top: -95px;
    background: url('../images/icon_prev.png') no-repeat center;
    background-size: contain;
    z-index: 1;
    transform: none;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
  }
  .slick-next {
    top: auto;
    bottom: 0;
    left: 72px;
    right: auto;
    width: 72px;
    height: 47px;
    margin-top: -95px;
    background: url('../images/icon_next.png') no-repeat center;
    background-size: contain;
    z-index: 1;
    transform: none;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
  }
  &__card {
    display: block;
    min-height: 570px;
    padding: 54px 74px;
  }
  &__title {
    display: block;
    margin-bottom: 36px;
    color: #4d4d4d;
    font-size: 36px;
    font-weight: 400;
  }
  &__what {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    img {
      display: inline-block;
      margin-right: 35px;
    }
  }
  p {
    display: block;
    margin-bottom: 22px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  &__button {
    display: inline-block;
    padding: 14px 30px;
    border: 1px solid #3fa9f5;
    background: transparent;
    color: #3fa9f5;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #3fa9f5;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.iv-videos {
  display: block;
  padding: 80px 0;
  background: url('../images/home_1.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 40px;
    color: #fefefe;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
  }
  &__links {
    display: block;
    max-height: 400px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    list-style: none;
    li {
      display: block;
      a {
        display: flex;
        align-items: center;
        min-height: 65px;
        padding: 2px 2px 2px 20px;
        border-bottom: 1px solid #e3e3e3;
        background-color: #ffffff;
        color: #000000;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          background-color: #3fa6f0;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

.iv-things {
  display: block;
  position: relative;
  &__title {
    display: block;
    margin-bottom: 55px;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
  }
  &__cards {
    display: block;
    margin-bottom: 80px;
    .slick-prev {
      top: 0;
      bottom: auto;
      right: 72px;
      left: auto;
      width: 72px;
      height: 47px;
      margin-top: -95px;
      background: url('../images/icon_prev.png') no-repeat center;
      background-size: contain;
      z-index: 1;
      transform: none;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
    }
    .slick-next {
      top: 0;
      bottom: auto;
      right: 0;
      width: 72px;
      height: 47px;
      margin-top: -95px;
      background: url('../images/icon_next.png') no-repeat center;
      background-size: contain;
      z-index: 1;
      transform: none;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
    }
  }
  &__card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 190px;
    height: 95px;
    margin: 0 15px;
    padding: 4px;
    background-color: #ffffff;
    text-decoration: none;
    transition: all 0.15s ease-out;
    img {
      display: block;
      max-width: 100%;
    }
  }
}

.container {
  position: relative;
}