@media (max-width: 1199px) {
  .iv-papers__card {
    left: 50%;
    margin: 0 !important;
    margin-left: -68px !important;
  }
}

@media (max-width: 991px) {
  .iv-top>.container {
    justify-content: flex-start;
    align-items: center;
    line-height: 1.3;
  }
  .iv-top p {
    display: block;
  }
  .iv-top__phone {
    display: block;
    width: 100%;
  }
  .iv-header {
    padding: 10px 0;
  }
  .iv-header__droper {
    display: inline-block;
  }
  .iv-header__mobile {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 4px;
  }
  .iv-header__nav {
    display: none;
    width: 100%;
    li {
      display: block;
      margin: 0 auto;
      a {
        display: block;
        width: 100%;
        padding: 8px;
        text-align: center;
      }
    }
  }
  .iv-welcome__title {
    height: 81px;
    overflow: hidden;
    font-size: 22px;
  }
  .iv-welcome__block {
    padding: 20px;
  }
  .iv-welcome__card {
    height: auto;
  }
  .iv-features__card {
    width: 100%;
    padding: 40px 20px 20px 20px;
  }
  .iv-features__card-title_right {
    text-align: left;
  }
  .iv-features__card-title_center {
    text-align: left;
  }
  .iv-what {
    padding: 20px 0 0 0;
    &__title {
      font-size: 28px;
      margin-bottom: 15px;
      text-align: center;
    }
  }
  .iv-what__cards {
    justify-content: space-around;
  }
  .iv-reviews {
    padding: 20px 0;
    &__title {
      font-size: 28px;
      margin-bottom: 15px;
      text-align: center;
    }
  }
  .iv-reviews__cards .slick-next {
    right: 0;
    top: 90%;
  }
  .iv-reviews__cards .slick-prev {
    left: 0;
    top: 90%;
  }
  .iv-companies {
    padding: 30px 0;
  }
  .iv-seo {
    padding: 20px 0 10px;
    &__title {
      font-size: 28px;
      margin-bottom: 15px;
      text-align: center;
    }
  }
  .iv-bottom__block {
    min-height: auto;
    padding: 20px;
  }
  .iv-bottom__map {
    position: relative;
    height: 300px;
  }
  .iv-footer__nav {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    li {
      display: block;
      margin: 0 auto;
      a {
        display: block;
        width: 100%;
        padding: 8px;
        text-align: center;
      }
    }
  }
  .iv-footer__wow {
    justify-content: space-around;
    &>div:first-child {
      margin-bottom: 6px;
    }
  }
  .iv-bottom__row {
    margin-bottom: 15px;
  }
  .iv-welcome__card {
    padding: 90px 0;
  }
  .iv-view {
    padding: 40px 0 35px 0;
  }
  .iv-view__title {
    font-size: 32px;
  }
  .iv-page {
    padding: 30px 0;
  }
  .iv-decision {
    padding: 20px 0;
    &__title {
      font-size: 28px;
      margin-bottom: 15px;
    }
  }
  .iv-form__title {
    margin-bottom: 15px;
  }
  .iv-form__row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    input,
    button {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-bottom: 4px;
    }
  }
  .iv-aside {
    margin-bottom: 30px;
  }
  .iv-categories {
    justify-content: space-around;
    align-items: flex-start;
    &__card {
      margin-bottom: 20px;
    }
  }
  .iv-papers__cards .slick-prev {
    margin-top: -55px;
  }
  .iv-papers__cards .slick-next {
    margin-top: -55px;
  }
  .h-mobile-hide {
    display: none;
  }
  .iv-videos {
    padding: 20px 0;
  }
  .iv-videos__title {
    font-size: 24px;
  }
  .iv-videos__links {
    max-height: 300px;
  }
  .owl-item {
    iframe {
      height: 300px;
    }
  }
  .iv-about__content {
    padding: 20px;
  }
  .iv-about__title {
    margin-bottom: 15px;
  }
  .iv-projects__card {
    padding: 20px;
  }
  .iv-projects__title {
    margin-bottom: 20px;
  }
  .iv-about__slick {
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    transform: none;
  }
  .iv-about__slick .iv-papers__card {
    transform: none;
  }
  .iv-about {
    height: auto;
  }
  .iv-things__cards {
    margin-bottom: 30px;
  }
  .iv-decision__card {
    height: 300px;
  }
  .iv-view__title_fixed {
    padding: 8px 15px;
    font-size: 18px;
  }
}

@media (max-width: 767px) {}